<!-- <link rel="stylesheet" href="bootstrap-5.2.1-dist/css/bootstrap.css" /> -->

<body>
  <div
    class="row text-center text-black mb-5"
    style="background-color: #080909"
  >
    <div class="logo">
      <img
        style="height: 120px"
        src="https://cdn.asp.events/CLIENT_CL_US_323E7AA7_5056_B733_8303D39C538813E0/sites/DISTRIBUTECH-2021/media/_sample/logos/exhibitor/logo_abc.png"
        alt="food box"
      />
    </div>
    <div class="col-lg-7 mx-auto">
      <div class="logo">
        <img
          style="height: 70px"
          src="https://www.jobsinyangon.com/app/img-firm-profile/552016055302672.jpg"
          
          alt="food box"

        />
      </div>
      <h1 class="display-4 text-white">
        <i><b>Complaint Redressal System</b> </i>
      </h1>
    </div>
  </div>
  
  <div class="row" style="justify-content: center">
    <div style="padding: 2rem">
      <a routerLink="/adminlogin"
        ><b><i>Admin </i></b></a
      ><br />
    </div>
    <div style="padding: 2rem">
      <a routerLink="/customers"
        ><i><b>Customer</b></i> </a
      ><br />
    </div>
    <div style="padding: 2rem">
      <a routerLink="/managers"
        ><i><b>Managers</b></i> </a
      ><br />
    </div>
    <div style="padding: 2rem">
      <a routerLink="/engineers"
        ><b><i>Engineers</i></b> </a
      ><br />
    </div>
  </div>
  <br /><br />

  <router-outlet></router-outlet>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <footer
   class="bg-black text-center text-white " 
   style="background-color:#0f1011">
    
 
    <div class="container p-4 pb-0 "style="background-color:#0f1011">
    
      <section class="mb-4">
  
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #dd4b39"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>

        
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333"
          href="https://github.com/"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      
    </div>
   

    
    <div
      class="text-center bg-secondary p-3"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      © 2024 Copyright:
      <a class="text-black" href="#"
        ><b><i>ABCt.com</i></b></a
      >
    </div>
    
  </footer>
</body>
